# Clé publique PayPal pour le SDK côté client
# A obtenir depuis votre tableau de bord développeur PayPal

# ID de votre feuille de calcul Google Sheets
# Trouvable dans l'URL de votre feuille: https://docs.google.com/spreadsheets/d/THIS_IS_THE_ID/edit
GOOGLE_SHEETS_ID=YOUR_GOOGLE_SHEET_ID

# Identifiants de l'API Google au format JSON (encodé en base64)
# Obtenus depuis un compte de service sur Google Cloud Platform.
# Encodez le fichier JSON complet en base64 et collez-le ici.
# Exemple (bash) : base64 -w 0 service-account.json
GOOGLE_API_CREDENTIALS_BASE64=blabalaaa=
